@use '@styles/variables/variables.scss' as vars;

.c-alert {
	--size-font: inherit;

	color: var(--color, unset);

	@each $type, $color in vars.$alert-colors {
		&--#{$type} {
			--color: var(#{$color});
		}
	}

	&.c-alert--small {
		--size-font: 0.9rem;
	}
}
