@use "@styles/variables/variables" as vars;
@use "@sass-butler/mixins" as butler-mx;

.c-button {
  cursor: pointer;
  padding: var(--padding, #{vars.$spacer * 0.25});
  background-color: var(--color-background, var(--blue-100));
  border: var(--width-border, 1px) var(--style-border, solid) var(--color-border, var(--grey-100));
  color: var(--color, var(--grey-100));
  transition: all 0.3s ease-in-out;

  @include butler-mx.dark-mode-class {
    --color-background: color-mix(in srgb, var(--blue) 90%, black);
    --color: var(--yellow-500);
    --color-border: color-mix(in srgb, var(--blue) 80%, white);
  }

  &--theme {
    --color-background: var(--primary);
    --color: var(--white-100);

    font-family: vars.$berliner;

    &:hover {
      --style-border: dashed;
    }

    @include butler-mx.dark-mode-class {
      --color-border: var(--white-100);
    }
  }

  &--dashed-border {
    --style-border: dashed;
  }

  &--center-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &--back {
    --padding: 0;

    display: flex;
    align-items: center;
    gap: vars.$spacer * 0.25;
    margin: 0.5rem 0 0;
  }

  &--word-option {
    --color-border: transparent;
    --color-background: transparent;

    &:hover {
      --color-border: var(--grey-100);
    }
  }

  &--filter {
    --padding: #{vars.$spacer * 0.25 vars.$spacer * 0.5};

    & > *,
    & {
      gap: vars.$spacer * 0.25;
    }
  }
}

.u-button-reset {
  background-color: transparent;
  border: none;
}
