@use "@styles/variables" as vars;
@use "@sass-butler/mixins" as butler-mx;

.c-button {
  cursor: pointer;
  padding: var(--padding, #{vars.$spacer * 0.25});
  background-color: var(--color-background, var(--orange-300));
  border: var(--width-border, 1px) var(--style-border, solid) var(--color-border, var(--orange-600));
  color: var(--color, var(--blue));
  transition: all 0.3s ease-in-out;

  @include butler-mx.dark-mode-class {
    --color-background: var(--new-blue-600);
    --color: var(--yellow-500);
    --color-border: color-mix(in srgb, var(--blue) 80%, white);
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }

  @include butler-mx.hover {
    box-shadow: 0 0 12px 0 var(--color-box-shadow, var(--blue));

    @include butler-mx.dark-mode-class {
      --color-box-shadow: var(--orange-500);
    }
  }

  &--theme {
    --color-background: var(--primary);
    --color: var(--white-100);

    font-family: vars.$berliner;

    @include butler-mx.hover {
      --style-border: dashed;
    }
    @include butler-mx.dark-mode-class {
      --color-border: var(--white-100);
    }
  }

  &--dashed-border {
    --style-border: dashed;
  }

  &--center-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
  }

  &--back {
    --padding: 0;

    display: flex;
    align-items: center;
    gap: vars.$spacer * 0.25;
  }

  &--filter {
    --padding: #{vars.$spacer * 0.25 vars.$spacer * 0.5};

    & > *,
    & {
      gap: vars.$spacer * 0.25;
    }

    &:hover,
    &.is-active,
    &.is-current {
      --color-border: var(--blue);
      --style-border: dashed;

      @include butler-mx.dark-mode-class {
        --color-border: var(--orange-500);
      }
    }
  }
}

.u-button-reset {
  background-color: transparent;
  border: none;
}
