@use "@sass-butler/mixins" as butler-mx;

.c-custom-multiselect {
  --ms-radius: 0;
  --ms-bg: var(--control-bg);
  --ms-border-color: var(--control-border);
  --ms-ring-color: color-mix(in srgb, var(--orange-100) 80%, white);
  --ms-placeholder-color: var(--control-color);
  --ms-dropdown-bg: var(--control-bg);
  --ms-option-bg-pointed: var(--orange-500);
  --ms-option-color-pointed: #000;
  --ms-option-bg-selected: var(--orange-600);
  --ms-option-bg-selected-pointed: var(--orange-600);
  --ms-option-color-selected-pointed: #000;
  --ms-dropdown-border-color: var(--control-border);

  @include butler-mx.dark-mode-class {
    --ms-ring-color: color-mix(in srgb, var(--blue) 90%, white);
  }
}
