@use "@styles/variables" as vars;
@use "@sass-butler/mixins" as butler-mx;
@use "@sass-butler/functions" as butler-fn;

.c-fact-card {
  background-color: var(--color-background, color-mix(in srgb, var(--orange-100) 20%, transparent));
  padding: vars.$spacer;
  border: 1px solid var(--new-blue-200);

  @include butler-mx.dark-mode-class {
    --color-background: rgb(0 0 0 / 10%);
  }
}
