@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/mixins" as butler-mx;

.c-filter-dropdown {
  display: flex;
  align-items: center;
  gap: vars.$spacer * 0.5;

  &__active-filter {
    --color-background: var(--orange-500);

    color: var(--white-100);
    display: flex;
    gap: 0.25rem;
    padding: 0.15rem 0.45rem;
    border: 1px dashed var(--white-100);
  }
}
