@use "@styles/variables" as vars;

.c-footer-app-section {
  &__actions {
    display: flex;
    align-items: center;
    gap: vars.$spacer * 0.5;
  }

  &__settings-link,
  .c-install-button {
    --padding: 0.5rem 1rem;

    gap: vars.$spacer * 0.5;
    text-decoration: none;
  }

  &__settings-link--icon-only {
    --padding: 0.5rem;
  }
}
