@use "@sass-butler/mixins" as butler-mx;

.c-modal {
  border: none;
  inset: 0;
  background-color: var(--color-background-modal, var(--floating-color-background));
  width: var(--width-modal, min(100% - 2rem, 800px));
  max-height: 80svh;
  margin: auto;

  /**
   * Important for exit animation
   * @see: https://developer.chrome.com/blog/entry-exit-animations?hl=de#animating_elements_to_and_from_the_top-layer
   */
  @include butler-mx.feature("motion") {
    opacity: 0;
    translate: 0 -100%;
    transition:
      translate 0.3s,
      opacity 0.3s,
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete;
  }

  &::backdrop {
    background-color: var(--color-backdrop-modal, rgb(0 0 0 / 30%));
    backdrop-filter: blur(4px);
    animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  &[open] {
    display: flex;
    flex-direction: column;

    @include butler-mx.feature("motion") {
      opacity: 1;
      translate: 0;

      @starting-style {
        translate: 0 -100%;
        opacity: 0;
      }
    }

    .c-modal__close {
      align-self: flex-end;

      &.has-suffix,
      &.has-prefix {
        gap: 0.25rem;
      }

      &.has-suffix {
        padding-inline-end: 0.5rem;
      }
    }
  }

  &.has-close-on-click-outside {
    &::backdrop {
      cursor: pointer;
    }
  }
}

.u-disable-scroll {
  overflow: hidden !important;
}
