@use "@styles/variables" as vars;
@use "@sass-butler/mixins" as butler-mx;

.c-modal {
  border: none;
  inset: 0;
  background-color: var(--color-background-modal, var(--floating-color-background));
  width: max(400px, vars.$body-max-width);
  max-height: 80svh;
  margin: auto;

  /**
   * Important for exit animation
   * @see: https://developer.chrome.com/blog/entry-exit-animations?hl=de#animating_elements_to_and_from_the_top-layer
   */
  @include butler-mx.feature("motion") {
    opacity: 0;
    transform: translateY(-100%);
    transition:
      transform 0.3s,
      opacity 0.3s,
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete;
  }

  &::backdrop {
    background-color: var(--color-background-modal, rgb(0 0 0 / 30%));
    backdrop-filter: blur(4px);
    animation: fade-in 1s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  }

  &.has-hidden-overflow {
    overflow: hidden;
  }

  &[open] {
    // animation: slide-in-fwd-top 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    @include butler-mx.feature("motion") {
      opacity: 1;
      transform: translateY(0);

      @starting-style {
        transform: translateY(-100%);
        opacity: 0;
      }
    }

    &:has(.c-modal__close) {
      .c-modal__container {
        display: flex;
        flex-direction: column;
      }

      .c-modal__close {
        align-self: flex-end;
      }
    }
  }

  &__container {
    min-height: 30dvh;
  }

  &.has-close-on-click-outside {
    &::backdrop {
      cursor: pointer;
    }
  }

  &--top {
    margin-top: 6rem;
  }
}

.u-disable-scroll {
  overflow: hidden !important;
}
