@use "sass:color";
@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/functions" as butler-fn;
@use "@sass-butler/mixins" as butler-mx;

.c-options-dropdown {
  align-self: flex-start;

  &__options-icon {
    --color-icon: var(--color-body);
  }

  &__copy-button {
    gap: vars.$spacer * 0.45;
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
  }

  &__copy-text {
    font-size: 0.9rem;
  }
}
