@use "@sass-butler/mixins" as butler-mx;

.c-search {
  input.pagefind-ui__search-input {
    @include butler-mx.dark-mode-class {
      --pagefind-ui-background: color-mix(in srgb, var(--blue) 70%, white);
    }

    &::placeholder {
      color: var(--color-placeholder);
      opacity: 1;

      @include butler-mx.dark-mode-class {
        --color-placeholder: color-mix(in srgb, var(--yellow-500) 60%, transparent);
      }
    }
  }
}
