@use "@sass-butler/mixins" as butler-mx;

.c-toast-notify {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: var(--color);
  background-color: var(--color-background, var(--orange-300));
  border: 1px solid var(--color-border);
  padding: 0.7rem 1.4rem;
  max-width: 88vw;

  @include butler-mx.breakpoint("xs") {
    max-width: 400px;
  }

  @include butler-mx.dark-mode-class {
    --color: var(--color-body);
    --color-background: var(--new-blue-600);
    --color-border: color-mix(in srgb, var(--blue) 80%, white);
  }

  /**
   * Important for exit animation
   * @see: https://developer.chrome.com/blog/entry-exit-animations?hl=de#animating_elements_to_and_from_the_top-layer
   */
  @include butler-mx.feature("motion") {
    opacity: 0;
    transform: translateX(150px);
    transition:
      transform 0.3s,
      opacity 0.3s,
      display 0.3s allow-discrete,
      overlay 0.3s allow-discrete;
  }

  &:popover-open {
    @include butler-mx.feature("motion") {
      opacity: 1;
      transform: translateX(0);

      @starting-style {
        transform: translateX(100%);
        opacity: 0;
      }
    }
  }

  &__icon {
    flex: 1 0 auto;
  }

  &__close {
    border: none;
  }
}
