@use "@styles/variables" as vars;

.c-word-suggest-hint {
  grid-area: suggest-hint;
  border-top: 1px solid var(--new-blue-200);
  line-height: 1.7;
  padding-top: vars.$spacer * 1.5;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    text-align: center;
  }

  &__button {
    --padding: 0.5rem 1rem;

    gap: vars.$spacer * 0.5;
    display: flex;
    margin-top: vars.$spacer * 1;
  }
}
