@use "sass:color";
@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/functions" as butler-fn;
@use "@sass-butler/mixins" as butler-mx;

.c-word-list {
  --size-quote-icon: 32px;

  list-style-type: none;
  margin: 0;
  padding: 0;

  .is-highlight {
    background: var(--orange-300);
    color: var(--blue);
  }

  .c-word-list__word-wrap {
    padding-bottom: vars.$spacer * 1.75;
  }

  &__word {
    padding: vars.$spacer;
    background-color: var(--color-background, color-mix(in srgb, var(--orange-100) 30%, white));
    border: 1px solid var(--color-border, var(--orange-200));
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
    box-shadow:
      0 0.5px 0.6px color-mix(in srgb, var(--color-box-shadow, var(--orange-900)) 8%, transparent),
      0 2px 3px color-mix(in srgb, var(--color-box-shadow, var(--orange-900)) 16%, transparent);

    @include butler-mx.hover {
      .c-word-list__berlinerisch a {
        --color-text-decoration: var(--grey-100);
      }
    }
    @include butler-mx.dark-mode-class {
      --color-background: var(--new-blue-400);
      --color-border: var(--new-blue-200);
      --color-box-shadow: black;
    }

    &.is-active {
      outline: 2px solid var(--color-body);
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin: 0;
    row-gap: #{vars.$spacer * 1};
    overflow: hidden;
  }

  &__berlinerisch {
    font: {
      family: vars.$berlin;
      weight: 700;
      size: butler-fn.fluid(24, 72, 320, 1260);
    }

    transition: 0.3s;
    margin: 0;
    white-space: nowrap;

    a {
      text: {
        decoration: underline;
        decoration-style: dashed;
        decoration-color: transparent;
        decoration-thickness: from-font;
        underline-position: from-font;
      }

      transition: 0.3s text-decoration ease;

      @include butler-mx.hover {
        text-decoration-color: inherit;
      }
    }
  }

  &__crown {
    display: flex;
    position: absolute;
    bottom: calc(100% - 10px);
    color: vars.$gold;
  }

  &__translation {
    font-size: butler-fn.fluid(16, 20, 320, 1260);
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    span,
    &::before {
      margin: var(--margin, 0 #{vars.$spacer * 0.5});

      @include mx.breakpoint("sm") {
        --margin: 0 #{vars.$spacer};
      }
    }

    &::before {
      content: "á›«";
    }
  }

  &__icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3 ease-in-out;

    &.is-hidden {
      display: none;
    }
  }

  &__quote-icon {
    width: var(--size-quote-icon);
    height: var(--size-quote-icon);
    fill: var(--grey-200);
    flex: 0 0 auto;

    @include mx.breakpoint("md") {
      --size-quote-icon: 44px;
    }
  }

  &__options {
    &-dropdown {
      align-self: flex-start;
    }

    &-icon {
      @include butler-mx.dark-mode-class {
        --color-icon: var(--yellow-500);
      }
    }
  }

  &--small {
    .c-word-list__berlinerisch {
      font: {
        family: vars.$berlin;
        weight: 700;
        size: butler-fn.fluid(18, 24, 320, 1260);
      }
    }
  }

  &--large {
    .c-word-list__header {
      @include mx.breakpoint("xs", "max") {
        flex-wrap: wrap;
      }
    }

    .c-word-list__berlinerisch {
      @include mx.breakpoint("xs", "max") {
        flex: 1 0 100%;
      }
    }
  }
}
