.c-word-group {
  &__group {
    font-size: 2.5rem;
  }

  &__list {
    padding-inline-start: 15px;
  }

  &__link {
    font-size: 1.2rem;
    line-height: 1.6;

    &:hover {
      text-decoration: underline;
    }
  }
}
