@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;

.c-word-gallery-col {
  container-type: inline-size;
  container-name: word-gallery-col;
  grid-area: gallery;
  position: sticky;
  inset-block-start: calc(var(--site-header-height) + vars.$spacer);

  &__label {
    @include mx.eyebrow(0.7rem, 0.1em);

    padding-block-end: 0.5rem;
    border-block-end: 1px dashed var(--orange-200);
    margin-block-end: vars.$spacer * 0.75;
    margin-block-start: 1.75rem;
  }

  .c-image-gallery {
    display: grid;
    gap: vars.$spacer * 1.5;

    @container word-gallery-col (inline-size >= 19rem) {
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .c-image-gallery__item {
      margin: 0;
      padding: var(--spacing-inner, 10px);
      background: var(--white-100);
      width: fit-content;
      box-shadow: vars.$paper-lift;
      height: fit-content;
    }

    .c-image-gallery__link {
      cursor: zoom-in;
    }

    .c-image-gallery__caption {
      color: var(--blue-400);
      margin-block-start: 0.5rem;
      font-size: 0.8rem;
    }
  }
}
