@use "@styles/variables" as vars;
@use "@sass-butler/mixins" as butler-mx;

.c-single-word {
  &__learn-more {
    &-link {
      display: flex;
      gap: vars.$spacer * 0.2;
      font-size: var(--size-font, 0.9rem);
      margin-top: 2.5rem;

      @include butler-mx.hover {
        --decoration-text: underline dashed;
      }

      @container word-main (inline-size >= 23rem) {
        --size-font: 1rem;
      }

      &-icon {
        display: inline-flex;
      }
    }
  }
}
