@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/mixins" as butler-mx;
@use "@sass-butler/functions" as butler-fn;

.c-word-search-filter-toggle {
  --padding: #{vars.$spacer * 0.25 vars.$spacer * 0.8};

  gap: var(--gap, vars.$spacer * 0.5);

  @include mx.breakpoint("md") {
    --padding: #{vars.$spacer * 0.25 vars.$spacer};
  }

  &__text {
    display: var(--display, none);

    @include mx.breakpoint("xs") {
      --display: block;
    }
  }

  &__icon-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__counter {
    position: absolute;
    inset: auto auto -2px -3px;
    border-radius: 50%;
    background: var(--accent);
    width: 2.1ch;
    height: 2.1ch;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
