@use "sass:color";
@use "sass:map";
@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/mixins" as butler-mx;
@use "@sass-butler/functions" as butler-fn;

.c-word-search {
  --padding-y-input: 0.5rem;
  --padding-x-input: 0.5rem;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  align-self: flex-start;

  &__search-button {
    --style-border: solid;
    --offset-x-box-shadow: 2px;
    --color-box-shadow: rgb(0 0 0 / 20%);

    &--right {
      order: 2;
    }
  }

  &__search-input.c-input {
    --color-border: var(--orange-600);
    --color-background: color-mix(in srgb, var(--orange-100) 30%, white);
    --color-outline: color-mix(in srgb, var(--accent) 40%, transparent);
    --spacing-inner: var(--padding-y-input) var(--padding-x-input);

    border-left: none;
    flex: 1 1 auto;
    display: flex;
    width: 1%;
    min-width: 0;
    color: var(--color, var(--color-body));
    scroll-margin-top: 100px;

    @include butler-mx.dark-mode-class {
      --color-background: color-mix(in srgb, var(--blue) 70%, white);
      --color-border: color-mix(in srgb, var(--blue) 60%, white);
    }

    &::placeholder {
      color: var(--color-placeholder, color-mix(in srgb, var(--blue) 80%, transparent));

      @include butler-mx.dark-mode-class {
        --color-placeholder: color-mix(in srgb, var(--yellow-500) 80%, transparent);
      }
    }

    &:focus-within {
      outline: var(--color-outline) solid 2px;
      z-index: 2;
    }
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  &--large {
    @include mx.breakpoint("md") {
      --padding-y-input: 0.75rem;
      --padding-x-input: 0.75rem;
    }

    .c-word-search {
      &__search-button {
        --padding: var(--padding-y-input) var(--padding-x-input);
      }

      &__search-input {
        --size-font: #{butler-fn.fluid(16, 32, 320, 1260)};
      }

      &__search-label {
        @include mx.breakpoint("md") {
          --size-font: 1.5rem;
        }
      }
    }
  }
}
