@use "sass:color";
@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/functions" as butler-fn;
@use "@sass-butler/mixins" as butler-mx;

$lucide-more-vertical: "<svg xmlns='http://www.w3.org/2000/svg' width='18' height='18' viewBox='0 0 24 24' fill='none' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'><circle cx='12' cy='12' r='1'/><circle cx='12' cy='5' r='1'/><circle cx='12' cy='19' r='1'/></svg>";

$icon-more-vertical: url("data:image/svg+xml,#{$lucide-more-vertical}");

.c-icon {
  background-color: var(--_color-icon, var(--blue));
  width: 18px;
  height: 18px;
  background-repeat: no-repeat;
  background-position: center;
  &--lucide-more-vertical {
    mask: butler-fn.escape-svg($icon-more-vertical);
  }
}

.c-word-list {
  --size-quote-icon: 32px;

  &__list {
    display: grid;
    gap: 1.75rem;
  }

  .c-word-list__word-wrap {
    padding-bottom: vars.$spacer * 1.75;
  }

  &__word {
    padding: vars.$spacer;
    background-color: var(--_color-background, color-mix(in srgb, var(--orange-100) 30%, white));
    border: 1px solid var(--_color-border, var(--orange-200));
    display: flex;
    flex-flow: column wrap;
    gap: 1rem;
    box-shadow:
      0 0.5px 0.6px color-mix(in srgb, var(--_color-box-shadow, var(--orange-500)) 8%, transparent),
      0 4px 5px color-mix(in srgb, var(--_color-box-shadow, var(--orange-500)) 16%, transparent);

    @include butler-mx.hover {
      .c-word-list__berlinerisch a {
        --color-text-decoration: var(--grey-100);
      }
    }

    @include butler-mx.dark-mode-class {
      --_color-background: var(--new-blue-400);
      --_color-border: var(--new-blue-200);
      --_color-box-shadow: black;
    }
  }

  &__header {
    display: flex;
    flex: 1 1 auto;
    margin: 0;
    flex-wrap: var(--_warp-flex, wrap);
    row-gap: #{vars.$spacer * 1};

    @include mx.breakpoint("sm") {
      --_wrap-flex: no-wrap;
    }

    &-wrapper {
      border-bottom: var(--_bottom-border, none);
      display: flex;

      &.has-example {
        padding-bottom: vars.$spacer;

        --bottom-border: 1px dashed var(--_grey-100);
      }
    }
  }

  &__berlinerisch {
    font: {
      family: vars.$berlin;
      weight: 700;
      size: butler-fn.fluid(24, 72, 320, 1260);
    }

    transition: 0.3s;
    margin: 0;
    word-break: break-word;
    flex: var(--flex, 1 0 100%);
    position: relative;

    @include mx.breakpoint("sm") {
      --flex: 0 1 auto;
    }

    a {
      text: {
        decoration: underline;
        decoration-style: dashed;
        decoration-color: transparent;
        decoration-thickness: from-font;
        underline-position: from-font;
      }

      transition: 0.3s text-decoration ease;

      @include butler-mx.hover {
        text-decoration-color: inherit;
      }
    }
  }

  &__crown {
    display: flex;
    position: absolute;
    bottom: calc(100% - 10px);
    color: vars.$gold;
  }

  &__translation {
    display: flex;
    align-items: center;
    font-size: butler-fn.fluid(16, 20, 320, 1260);
    position: relative;
    margin: 0;

    &::before {
      content: "᛫";
      margin: var(--_margin, 0 #{vars.$spacer * 0.5});

      @include mx.breakpoint("sm") {
        --_margin: 0 #{vars.$spacer};
      }
    }
  }

  &__examples {
    display: flex;
    flex-direction: column;
    gap: vars.$spacer;
    padding-left: vars.$spacer;

    &-item {
      font-style: italic;
    }
  }

  &__examples,
  &__example {
    font-size: butler-fn.fluid(19, 29, 320, 1260);
    flex-basis: 100%;
    margin: calc(var(--size-quote-icon) + #{vars.$spacer * 0.5}) 0 0 0;
    word-break: break-word;

    &-explanation {
      font-size: 1rem;
      margin: 0;
    }
  }

  &__single-example,
  &__examples-list-item {
    display: flex;
    flex-direction: column;
    gap: vars.$spacer * 0.5;
  }

  &__example {
    font-style: italic;

    &-wrapper {
      --padding: 0 #{vars.$spacer} #{vars.$spacer} #{vars.$spacer};

      display: flex;
      padding: var(--padding);
      gap: var(--gap, #{vars.$spacer * 0.5});

      @include mx.breakpoint("sm") {
        --gap: #{vars.$spacer};
        --padding: 0 5% #{vars.$spacer * 0.5} 5%;
      }
      @include mx.breakpoint("md") {
        --padding: 0 10% #{vars.$spacer * 0.5} 10%;
      }
    }
  }

  &__icon-button {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3 ease-in-out;

    &.is-hidden {
      display: none;
    }
  }

  &__quote-icon {
    width: var(--size-quote-icon);
    height: var(--size-quote-icon);
    fill: var(--grey-200);
    flex: 0 0 auto;

    @include mx.breakpoint("md") {
      --size-quote-icon: 44px;
    }
  }

  &__copy-button {
    --color-background: #{vars.$white-200};

    gap: vars.$spacer * 0.3;
    display: flex;
    align-items: center;

    @include butler-mx.hover {
      --style-border: solid;
    }

    &.is-success {
      background: var(--success);
      color: #fff;
    }
  }

  &__learn-more {
    --padding: 0;

    display: flex;
    align-items: center;
    gap: vars.$spacer * 0.25;
    align-self: end;
  }

  &__options {
    &-dropdown {
      align-self: flex-start;
    }

    &-icon {
      @include butler-mx.dark-mode-class {
        --_color-icon: var(--yellow-500);
      }
    }
  }
}
