@use "@styles/components/word-definition-grid" as dl;

.c-single-word {
  &__syllables {
    @include dl.definition-grid;

    dd {
      margin: 0;
      font-size: 1rem;
    }

    .is-divider {
      font-weight: 700;
    }
  }
}
