@use "sass:color";
@use "sass:map";
@use "@styles/variables/variables" as vars;
@use "@styles/mixins/mixins" as mx;
@use "@sass-butler/mixins" as butler-mx;
@use "@sass-butler/functions" as butler-fn;

.c-word-search {
  --padding-y-input: 0.5rem;
  --padding-x-input: 0.5rem;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;

  &__search-button {
    --color-background: #{vars.$white-100};
    --style-border: solid;
    --color-border: #{vars.$grey-100};
    --offset-x-box-shadow: 2px;
    --color-box-shadow: rgb(0 0 0 / 20%);

    background-color: var(--color-background);
    border: 1px var(--style-border) var(--color-border);

    &--right {
      order: 2;

      --offset-x-boxshadow: -2px;
    }

    &.has-searchbar {
      position: relative;
      z-index: 1;
      box-shadow: var(--offset-x-box-shadow) 0 0 0 var(--color-box-shadow);
    }
  }

  &__search-input.c-input {
    --color-border: var(--grey-100);
    --color-background: var(--white-200);
    --color-outline: #{butler-fn.hex-to-rgb(vars.$red-200, 50%)};
    --spacing-inner: var(--padding-y-input) var(--padding-x-input);

    border-left: none;
    flex: 1 1 auto;
    display: flex;
    width: 1%;
    min-width: 0;

    @include butler-mx.dark-mode-class {
      --color-outline: color-mix(in srgb, var(--accent) 40%, transparent);
      --color-background: color-mix(in srgb, var(--blue) 70%, white);
    }

    &::placeholder {
      color: var(--color-placeholder, var(--grey-100));

      @include butler-mx.dark-mode-class {
        --color-placeholder: color-mix(in srgb, var(--yellow-500) 60%, transparent);
      }
    }

    &:focus-within {
      outline: var(--color-outline) solid 2px;
      z-index: 2;
    }
  }

  input[type="search"]::-webkit-search-cancel-button {
    display: none;
  }

  &__shortcut {
    border: 1px dashed var(--secondary);
    color: var(--color, #{color.scale(vars.$red-100, $lightness: 45%)});
    display: var(--display, none);
    align-items: center;
    justify-content: center;
    padding: vars.$spacer * 0.35;
    font-size: 0.6rem;
    gap: vars.$spacer * 0.25;
    align-self: center;

    @include butler-mx.dark-mode-class {
      --color: #{color.scale(map.get(vars.$blue-shades, "blue-100"), $lightness: 45%)};
    }
    @include mx.breakpoint("md") {
      --display: flex;
    }
  }

  &__command-icon-wrap {
    display: flex;
  }

  &--large {
    @include mx.breakpoint("md") {
      --padding-y-input: 0.75rem;
      --padding-x-input: 0.75rem;
    }

    .c-word-search {
      &__search-button {
        --padding: var(--padding-y-input) var(--padding-x-input);
      }

      &__search-input {
        --size-font: 1.5rem;

        @include mx.breakpoint("md") {
          --font-size: 2rem;
        }
      }

      &__search-label {
        @include mx.breakpoint("md") {
          --size-font: 1.5rem;
        }
      }
    }
  }
}
