# build output
dist/
dev-dist/
.astro

# test output
coverage
/tests/unit/coverage

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production
.env.development

# macOS-specific files
.DS_Store

# Windows specific files
.

.idea
/test-results/
/playwright-report/
/playwright/.cache/

# Sentry Config File
.env.sentry-build-plugin

# Wrangler
.wrangler

src/utils/supportedBrowsers.js
