// Breakpoint Vars
$xxs: 375px; // Smartphone Portrait
$xs: 568px; // Smartphone Landscape
$sm: 768px; // Tablet Portrait
$md: 1024px; // Tablet Landscape
$lg: 1260px; // Kleinerer Desktop
$xlg: 1440px; // Widescreen
$fhd: 1920px; // Full HD
$uhd: 2560px; // UHD

// Breakpoint Map
$custom-breakpoints: (
	'xxs': $xxs,
	'xs': $xs,
	'sm': $sm,
	'md': $md,
	'lg': $lg,
	'xlg': $xlg,
	'fhd': $fhd,
  'uhd': $uhd
);
