@use './base' as base-vars;
@use 'sassy-scss/mixins' as mx;

:root {
  --padding-y-header: #{base-vars.$spacer * .6};
  --spacing-main-frame: 20px;

  @include mx.breakpoint('md') {
    --spacing-main-frame: 100px;
  }
}
