@use '../variables/variables' as vars;
@use './../mixins/mixins' as mx;
@use 'sassy-scss/mixins' as sassy-mx;
@use 'sassy-scss/functions' as sassy-fn;

body {
	margin: 0;
	color: var(--color-body, #{vars.$grey-100});
	background-color: var(--color-background-body, #{sassy-fn.hex-to-rgb(vars.$red-100, 10%)});
	background-image: radial-gradient(var(--color-gradient-body-1, #{sassy-fn.hex-to-rgb(vars.$red-200, 50%)}) 1.1px, var(--color-gradient-body-2, #{sassy-fn.hex-to-rgb(vars.$red-100, 50%)}) 1.1px);
	background-size: 22px 22px;

	@include sassy-mx.feature('motion') {
		transition: background-color 1s ease-in-out;
	}
	@include mx.dark-mode {
		--color-body: #{vars.$grey-200};
		--color-gradient-body-1: #{sassy-fn.hex-to-rgb(vars.$blue-200, 50%)};
		--color-gradient-body-2: #{sassy-fn.hex-to-rgb(vars.$blue-100, 50%)};
		--color-background-body: #{sassy-fn.hex-to-rgb(vars.$blue-100, 10%)};
	}
}

@include sassy-mx.select-style(vars.$red-200, vars.$white-100);

html[class='dark-mode'] {
	@include sassy-mx.select-style(vars.$blue-200, vars.$white-100);
}

img {
	max-width: 100%;
	height: auto;
}
