@use '../variables/variables' as vars;
@use './../mixins/mixins' as mx;

@for $h from 1 to 6 {
	h#{$h} {
		font-family: vars.$berliner;
		font-weight: normal;
	}
}

html {
	font-family: vars.$berlin;
}

a {
	color: var(--primary);
	cursor: pointer;
	text-underline-position: from-font;
	text-decoration: var(--decoration-text, underline dashed from-font);

	@include mx.breakpoint('xs') {
		--decoration-text: none;

		&:hover {
			--decoration-text: underline dashed from-font;
		}
	}
}
