@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/functions" as butler-fn;
@use "@sass-butler/mixins" as butler-mx;

.o-index {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    flex-wrap: var(--wrap-flex, wrap);
    row-gap: vars.$spacer * 0.5;

    @include mx.breakpoint("xs") {
      --wrap-flex: no-wrap;
    }
  }

  &__headline {
    font-size: butler-fn.fluid(29, 56, 320, 1260);
    margin: 0;
  }

  &__image-wrap {
    flex: var(--flex, 0 1 64%);
    margin-left: var(--spacing-outer-left, auto);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 80px;

    @include mx.breakpoint("xs") {
      --flex: 0 1 85%;
    }
    @include mx.breakpoint("sm") {
      --spacing-outer-left: 0;
      --flex: 0 1 50%;
    }
  }

  &__image {
    filter: drop-shadow(
      0 0 25px var(--color-shadow, color-mix(in srgb, var(--orange-500) 40%, transparent))
    );

    @include butler-mx.dark-mode-class {
      --color-shadow: rgb(255 255 255 / 20%);
    }
  }

  &__intro-wrap {
    display: grid;
    gap: vars.$spacer * 1.5 vars.$spacer * 3;
    grid-template-columns: var(--columns-grid-template, 1fr);
    grid-template-areas: var(--areas-grid-template, "text" "wotd");

    @include mx.breakpoint("sm") {
      --columns-grid-template: 2fr 1fr;
      --areas-grid-template: "text wotd";
    }
  }

  &__intro-text {
    font-size: butler-fn.fluid(19, 26, 320, 1260);
    line-height: 1.3;
    grid-area: text;

    a {
      --decoration-text: underline dashed from-font;
    }
  }

  &__filter-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: vars.$spacer;
  }

  .c-word-of-the-day {
    @include mx.breakpoint("sm") {
      --spacing-outer: #{vars.$spacer * 1.5};
    }
  }

  .c-facts-grid {
    margin: 1.5rem 0 3rem;
  }
}
