@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/functions" as butler-fn;
@use "@sass-butler/mixins" as butler-mx;

.o-index {
  &__header {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    flex-wrap: var(--wrap-flex, wrap);
    row-gap: vars.$spacer * 0.5;

    @include mx.breakpoint("xs") {
      --wrap-flex: no-wrap;
    }
  }

  &__headline {
    font-size: butler-fn.fluid(29, 56, 320, 1260);
    margin: 0;
  }

  &__image-wrap {
    flex: var(--flex, 0 1 64%);
    margin-left: var(--spacing-outer-left, auto);
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    margin-top: 80px;

    @include mx.breakpoint("xs") {
      --flex: 0 1 85%;
    }
    @include mx.breakpoint("sm") {
      --spacing-outer-left: 0;
      --flex: 0 1 50%;
    }
  }

  &__image {
    margin-top: 80px;
    filter: drop-shadow(
      0 0 25px var(--color-shadow, color-mix(in srgb, var(--orange-500) 40%, transparent))
    );

    @include butler-mx.dark-mode-class {
      --color-shadow: rgb(255 255 255 / 20%);
    }
  }

  &__filter-wrap {
    display: flex;
    flex-wrap: wrap;
    gap: vars.$spacer;
  }

  .c-word-of-the-day {
    @include mx.breakpoint("sm") {
      --spacing-outer: #{vars.$spacer * 1.5};
    }
  }

  .c-facts-grid {
    margin: 3rem 0 10rem;
  }
}

.image-placeholder-wrap:not(.loaded) {
  position: relative;
  min-height: var(--min-height-placeholder, 300px);
  @include mx.skeleton-loader;

  .o-index__image {
    display: block;
    width: 100%;
    height: auto;
    opacity: 0;
    transition: opacity 0.3s;
  }
  .o-index__image {
    opacity: 1;
  }
}
