---
import Layout from "@layouts/Layout.astro";
---

<Layout content={{ title: "Seite konnte nicht gefunden werden" }}>
  <section class="o-not-found">
    <h1>Blöd jelaufen, die Seite gibts nicht.</h1>
  </section>
</Layout>

<style>
  .o-not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70dvh;
  }
</style>
