---
import { getAllWord } from "@services/api";

import type { InferGetStaticParamsType, InferGetStaticPropsType } from "astro";

export const getStaticPaths = async () => {
  const allWords = await getAllWord();

  return allWords.map(({ node }) => {
    return {
      params: {
        wordSlug: node.slug,
      },
      props: {
        word: node,
      },
    };
  });
};

type Params = InferGetStaticParamsType<typeof getStaticPaths>;
type Props = InferGetStaticPropsType<typeof getStaticPaths>;

const { wordSlug }: any = Astro.params as Params;
const { word } = Astro.props as Props;
---

<p>{word.slug}</p>
