.c-alert {
	--color: unset;
	--size-font: inherit;

	color: var(--color);

	&--danger {
		--color: var(--danger);
	}

	&--success {
		--color: var(--success);
	}

	&.c-alert--small {
		--size-font: 0.9rem;
	}
}
