@use './../variables/variables' as vars;
@use './../mixins/mixins' as mx;

.c-button {
	--color-background: #{vars.$white-100};
	--color-border: #{vars.$grey-100};
	--style-border: solid;
	--width-border: 1px;
	--color: #{vars.$grey-100};
	--padding: #{vars.$spacer * 0.25};

	cursor: pointer;
	padding: var(--padding);
	background-color: var(--color-background);
	border: var(--width-border) var(--style-border) var(--color-border);
	color: var(--color);

	&--theme {
		--color-background: var(--red-200);
		--color: var(--white-100);

		font-family: vars.$berliner;

		&:hover {
			--style-border: dashed;
		}

		@include mx.dark-mode {
			--color-background: var(--blue-200);
			--color-border: var(--white-100);
		}
	}

	&--dashed-border {
		--style-border: dashed;
	}

	&--center-icon {
		display: inline-flex;
		justify-content: center;
		align-items: center;
	}

	&--back {
		--padding: 0;

		display: flex;
		align-items: center;
		gap: vars.$spacer * 0.25;
		margin: 1rem 0 1.5rem;
	}
}

.u-button-reset {
	background-color: transparent;
	border: none;
}
