@use './../variables/variables' as vars;
@use './../mixins/mixins' as mx;
@use 'sassy-scss/mixins' as sassy-mx;

.c-dropdown {
	position: relative;

	&__button {
		&.is-active {
			border-bottom: 1px dashed vars.$white-100;
		}
	}

	&__menu {
		--color-background: #{vars.$red-100};
		--offset: 0;
		--width-min: 0;

		position: absolute;
		top: calc(100% + var(--offset));
		background-color: var(--color-background);
		padding: vars.$spacer vars.$spacer * 1.5;
		box-shadow:
			0 0.5px 0.6px rgb(0 0 0 / 8%),
			0 4px 5px rgb(0 0 0 / 16%);
		z-index: 10;
		max-width: 100%;
		min-width: var(--width-min);

		@include mx.dark-mode {
			--color-background: #{vars.$blue-100};
		}

		&--left {
			right: 0;
			text-align: right;
		}

		&--right {
			left: 0;
			text-align: left;
		}

		&--center {
			left: 50%;
			transform: translateX(-50%);
		}

		&--min-width {
			--width-min: 175px;
		}
	}
}

.u-icon-untouchable {
	pointer-events: none;
}

.u-icon-wrapper {
	display: flex;
}
