.c-dropdown {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__menu {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 100%;
  }
}

.u-icon-untouchable {
  pointer-events: none;
}

.u-icon-wrapper {
  display: flex;
}
