@use "../variables/variables" as vars;
@use 'sassy-scss/mixins' as mx;

.c-letter-nav {
  --color-background: #{vars.$white};

  background: var(--color-background);
  display: none;

  @include mx.breakpoint('lg') {
    display: block;
  }

  html[class="dark-mode"] & {
    --color-background: #{vars.$grey-100};
  }

  &__list {
    display: flex;
    justify-content: space-evenly;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;

      &.is-current {

        .c-letter-nav__link {
          --color: #{vars.$highlight};
        }

      }
    }
  }

  &__link {
    --color: #{vars.$grey-100};

    padding: 1rem 0;
    color: var(--color);
    font-size: 1.8rem;
    font-family: vars.$berliner;
    text-decoration: none;

    html[class="dark-mode"] & {
      --color: #{vars.$white};
    }
  }
}
