@use "../variables/variables" as vars;

.c-letter-nav {
  --color-background: #{vars.$light};

  background: var(--color-background);

  html[class="dark-mode"] & {
    --color-background: #{vars.$dark-600};
  }

  &__list {
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;

    &-item {
      display: flex;
      align-items: center;
      justify-content: center;

      &.is-current {

        .c-letter-nav__link {
          --color: #{vars.$highlight};
        }

      }
    }
  }

  &__link {
    --color: #{vars.$dark-600};

    padding: 1rem 0;
    color: var(--color);
    font-size: 1.8rem;
    font-family: vars.$berliner;
    text-decoration: none;

    html[class="dark-mode"] & {
      --color: #{vars.$light};
    }
  }
}
