@use './../variables/variables' as vars;
@use './../mixins/mixins' as mx;
@use 'sassy-scss/mixins' as sassy-mx;

.c-letter-filter {
	--margin: 0 0 1.5rem 0;

	margin: var(--margin);

	// --color-background: #{vars.$white-100};

	// background: var(--color-background);

	// // display: none;

	// @include mx.breakpoint('lg') {
	// 	display: block;
	// }
	// @include mx.dark-mode {
	// 	--color-background: #{vars.$grey-100};
	// }

	&__list {
		display: flex;
		justify-content: space-between;

		&-item {
			display: flex;
			align-items: center;
			justify-content: center;

			&.is-current {
				.c-letter-filter__button {
					--color-background: var(--red-200);
					--color: var(--white-100);

					@include mx.dark-mode {
						--color-background: var(--blue-200);
					}
				}
			}
		}
	}

	&__button {
		--spacing: #{vars.$spacer * 0.25};
		--size-font: 1rem;
		--width-min: 1.4rem;

		font-size: var(--size-font);
		padding: var(--spacing);
		min-width: var(--width-min);

		@include mx.breakpoint('lg') {
			--size-font: 1.2rem;
			--width-min: 2rem;
		}
		@include mx.breakpoint('xlg') {
			--size-font: 1.5rem;
			--width-min: 2.5rem;
		}
		@include mx.breakpoint('fhd') {
			--size-font: 1.7rem;
			--width-min: 3.5rem;
		}
	}

	// &__link {
	// 	--color: #{vars.$grey-100};

	// 	padding: 1rem 0;
	// 	color: var(--color);
	// 	font-size: 1.8rem;
	// 	font-family: vars.$berliner;
	// 	text-decoration: none;

	// 	@include mx.dark-mode {
	// 		--color: #{vars.$white-100};
	// 	}
	// }

	&--desktop {
		@include mx.breakpoint('sm', 'max') {
			display: none;
		}
	}
}

.c-filter-dropdown {
	@include mx.breakpoint('sm') {
		display: none;
	}
}
