// @link: https://codepen.io/nxworld/pen/zwGpXr

.c-loader-text {
  span {
    display: inline-block;
    margin: 0 -.05em;
    animation: loading04 .7s infinite;
    @for $i from 1 through 6 {
      &:nth-child(#{$i+1}) {
        animation-delay: #{$i*.1}s;
      }
    }
  }
}

@keyframes loading04 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(15px);
  }
}
