@use './../variables/variables' as vars;
@use 'sassy-scss/mixins' as sassy-mx;

.c-menu-nav {
	display: flex;
	justify-content: flex-end;
	gap: vars.$spacer * 3;
	grid-area: menu-nav;

	// flex-wrap: wrap;

	&__item-button,
	&__item-link {
		--color-icon: #{vars.$white-100};
		--color-border: transparent;

		color: var(--color-icon);
		border: 1px dashed var(--color-border);
		transition: all 0.3s ease-in-out;

		&:hover {
			--color-border: var(--color-icon);
		}
	}

	&__item {
		&.is-hidden {
			@include sassy-mx.breakpoint('xs', 'max') {
				display: none;
			}
		}
	}

	&__item-link {
		display: flex;
		align-items: center;
		justify-content: center;
		padding: vars.$spacer * 0.25;
	}

	&__main-elements {
		display: flex;
		justify-content: flex-end;
		width: 100%;
		gap: vars.$spacer * 0.7;
	}
}

.c-menu-more {
	&__list {
		--size-font: 1.15rem;
		--gap: #{vars.$spacer};

		display: flex;
		flex-direction: column;
		gap: var(--gap);
		font-size: var(--size-font);

		@include sassy-mx.breakpoint('md') {
			--size-font: inherit;
			--gap: #{vars.$spacer * 0.5};
		}
	}
}
