.c-scroll-to-top {
  position: fixed;
  top: 10%;
  right: 15px;
  z-index: 99;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
