@use 'sassy-scss/mixins' as mx;

.c-scroll-to-top {
  position: fixed;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;

  @include mx.breakpoint('md') {
    top: 10%;
    right: 15px;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}
