@use './../variables/variables' as vars;
@use 'sassy-scss/mixins' as mx;

.c-social-list {

  &__list {
    gap: vars.$spacer * .25;
  }

  &--desktop {
    --display: none;

    display: var(--display);

    @include mx.breakpoint('md') {
      --display: flex;
    }
  }

  &--mobile-dropdown {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed vars.$red-200;
    margin-bottom: vars.$spacer;
    padding-bottom: vars.$spacer * .7;

    @include mx.breakpoint('md') {
      display: none;
    }
  }
}
