@use './../variables/variables' as vars;
@use './../mixins/mixins' as mx;
@use 'sassy-scss/mixins' as sassy-mx;

.c-social-list {
	&__list {
		gap: vars.$spacer * 0.25;
	}

	&--desktop {
		--display: none;

		display: var(--display);

		@include sassy-mx.breakpoint('md') {
			--display: flex;
		}
	}

	&--mobile-dropdown {
		--color-border: var(--red-200);

		display: flex;
		justify-content: space-between;
		border-bottom: 1px dashed var(--color-border);
		margin-bottom: vars.$spacer;
		padding-bottom: vars.$spacer * 0.7;

		@include sassy-mx.breakpoint('md') {
			display: none;
		}
		@include mx.dark-mode {
			--color-border: var(--blue-200);
		}
	}
}
