@use './../variables/variables' as vars;
@use './../mixins/mixins' as mx;

.c-start-header {
	display: flex;
	flex-wrap: var(--wrap-flex, wrap);

	@include mx.breakpoint('xs') {
		--wrap-flex: nowrap;
	}
	@include mx.breakpoint('xs') {
		padding-top: vars.$spacer * 4;
	}

	&__headline {
		font-size: var(--size-font, 1.8rem);
		margin: var(--margin, #{vars.$spacer * 1.5} 0 #{vars.$spacer} 0);

		@include mx.breakpoint('xxs') {
			--size-font: 2rem;
		}
		@include mx.breakpoint('xs') {
			--margin: 0 0 #{vars.$spacer * 3} 0;
		}
		@include mx.breakpoint('sm') {
			align-self: center;
		}
		@include mx.breakpoint('lg') {
			--size-font: 3rem;
		}
		@include mx.breakpoint('xlg') {
			--size-font: 3.5rem;
		}
	}

	&__image-wrap {
		flex: 1 0 40%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-end;

		picture {
			display: flex;
		}
	}

	&__image {
		max-width: 100%;
		height: auto;
	}
}
