@use './../variables/variables' as vars;
@use 'sassy-scss/mixins' as mx;

.c-start-header {
  --wrap-flex: wrap;

  display: flex;
  flex-wrap: var(--wrap-flex);

  @include mx.breakpoint('xs') {
    --wrap-flex: nowrap;
  }

  @include mx.breakpoint('sm') {

    padding-top: vars.$spacer * 4;
  }

  &__headline {
    --size-font: 1.5rem;
    --margin: #{vars.$spacer * 1.5} 0 #{vars.$spacer} 0;

    margin: var(--margin);
    font-size: var(--size-font);

    @include mx.breakpoint('sm') {
      --margin: 0;

      align-self: center;
    }

    @include mx.breakpoint('md') {
      --size-font: clamp(1.5rem, 3rem, 3rem);
    }
  }

  &__image-wrap {
    flex: 1 0 40%;
    display: flex;
    align-items: flex-end;

    picture {
      display: flex;
    }
  }

  &__image {
    max-width: 100%;
    // max-width: 900px;
    height: auto;
  }
}
