@use '../variables/variables' as vars;

.c-word-of-the-day {
	background-color: #fff;
	padding: vars.$spacer;
	border: 1px solid var(--primary);
	display: flex;
	flex-direction: column;
	align-items: center;

	&__header {
		display: flex;
		align-items: center;
		gap: vars.$spacer * 0.5;
	}

	&__headline {
		margin: 0;
	}

	&__word {
		font-family: vars.$berlin;
		font-weight: 700;
		font-size: 1.7rem;
	}

	&__icon {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
