@use '../variables/variables' as vars;
@use 'sassy-scss/mixins' as mx;
@use 'sassy-scss/functions' as fn;

.c-word-search {
  --padding-y-input: .5rem;
  --padding-x-input: .5rem;
  --margin: 0 0 #{vars.$spacer * 1.5} 0;

  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  margin: var(--margin);

  &__search-button {
    --color-background: #{vars.$white-100};
    --style-border: solid;
    --color-border: #{vars.$grey};
    --offset-x-box-shadow: 2px;
    --color-box-shadow: rgb(0 0 0 / 20%);

    background-color: var(--color-background);
    border: 1px var(--style-border) var(--color-border);

    &--right {
      order: 2;
      --offset-x-boxshadow: -2px;
    }

    &.has-searchbar {
      position: relative;
      z-index: 1;
      box-shadow: var(--offset-x-box-shadow) 0px 0px 0px var(--color-box-shadow);
    }
  }

  &__search-wrap {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    width: 1%;
    min-width: 0;
  }

  &__search-input {
    --color-border: #{vars.$grey};
    --color-background: #{vars.$white-200};
    --size-font: 1.5rem;
    --color-outline: #{rgba(vars.$highlight-200, .7)};

    height: 100%;
    padding: var(--padding-y-input) var(--padding-x-input);
    border: 1px solid var(--color-border);
    background-color: var(--color-background);
    border-left: none;
    font-size: var(--size-font);
    width: 100%;

    &:focus-visible {
      outline-style: solid;
      outline-color: var(--color-outline);
      outline-width: 2px;
      z-index: 2;
    }
  }

  &__search-label {
    position: absolute;
    left: var(--padding-x-input);
    top: 50%;
    transform: translateY(-50%);
  }

  .c-word-search__search-input:focus ~ .c-word-search__search-label,
  .c-word-search__search-input:not(:placeholder-shown) ~ .c-word-search__search-label {
    z-index: -1;
  }

  &__shortcut {
    --display: none;
    --color-border: #{vars.$highlight-100};
    --color: #{vars.$white-100};

    border: 1px dashed var(--color-border);
    color: var(--color);
    display: var(--display);
    align-items: center;
    justify-content: center;
    padding: vars.$spacer * .35;
    font-size: .6rem;
    gap: vars.$spacer * .25;
    align-self: center;

    @include mx.breakpoint('md') {
      --display: flex;
    }
  }

  &__command-icon-wrap {
    display: flex;
  }

  &--nav-search {
    --margin: 0;

    .c-word-search {

      &__search-button {
        --color-background: transparent;
        --color-border: transparent;
        --color-box-shadow: #{fn.hex-to-rgb(vars.$highlight-100, 20%)};

        transition: all .3s ease-in-out;

        &.has-searchbar {
          --color-border: #{vars.$white-100};
          --style-border: dashed;

          border-left: none;
        }
      }

      &__search-label,
      &__search-input {
        --color: #{vars.$highlight-200};

        color: var(--color);
      }

      &__search-input {
        --color-border: #{vars.$highlight-100};
        --color-outline: #{fn.hex-to-rgb(vars.$white-200, 50%)};
      }
    }
  }

  &--full-width {

    @include mx.breakpoint('xs', 'max') {
      width: 100%;
    }
  }
}
