---
import WordDecomposition from '@components/word/WordDecomposition.astro';
import german from 'hyphenation.de';
import Hypher from 'hypher';
import type { BerlinerWord } from '@/gql/entity-types';

interface Props {
  word: string;
  allWords: BerlinerWord[];
  germanWords: Set<string>;
}

const { word, allWords, germanWords } = Astro.props;
const hypher = new Hypher(german);
---

<section class='c-section-card' id='orthographie'>
  <div class='c-section-card__header'>
    <span class='c-section-card__num'>03</span>
    <h2 class='c-section-card__title'>Orthographie</h2>
  </div>
  <div class='c-section-card__body'>
    <div class='c-single-word__syllables'>
      <h3>Silbentrennung:</h3>
      <p set:html={hypher.hyphenate(word).join(" <span class='is-divider'>|</span> ")} />
      <h3>Anzahl der Silben:</h3>
      <p>{hypher.hyphenate(word).length}</p>
    </div>
    <WordDecomposition allWords={allWords} germanWords={germanWords} word={word} />
  </div>
</section>
