---
import AudioPlayerList from "@components/AudioPlayerList.vue";

import type { Maybe, WordPropertiesExamples } from "@/gql/entity-types";

interface WordExamplesProps {
  examples?: Maybe<WordPropertiesExamples>[];
  rootBemClass?: string;
}

const { examples = [], rootBemClass = "c-word-list" } = Astro.props as WordExamplesProps;
---

<div class={rootBemClass + "__example-wrapper"}>
  <svg class={rootBemClass + "__quote-icon"} viewBox="0 0 24 24" width="44" height="44" stroke-width="0" fill="currentColor"><path d="M3 21c3 0 7-1 7-8V5c0-1.25-.756-2.017-2-2H4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2 1 0 1 0 1 1v1c0 1-1 2-2 2s-1 .008-1 1.031V20c0 1 0 1 1 1z"/><path d="M15 21c3 0 7-1 7-8V5c0-1.25-.757-2.017-2-2h-4c-1.25 0-2 .75-2 1.972V11c0 1.25.75 2 2 2h.75c0 2.25.25 4-2.75 4v3c0 1 0 1 1 1z"/></svg>

  {
    examples && examples.length === 1 && (
      <div class={rootBemClass + "__single-example"}>
        <p class={rootBemClass + "__example"}>{examples[0]?.example}</p>

        {examples[0]?.exampleExplanation && (
          <p class={rootBemClass + "__example-explanation"}>
            {"– " + examples[0].exampleExplanation}
          </p>
        )}

        {examples[0]?.exampleAudio && (
          <AudioPlayerList audio={examples[0]?.exampleAudio} client:only="vue" isType="example" />
        )}
      </div>
    )
  }

  {
    examples && examples.length > 1 && (
      <ol class={rootBemClass + "__examples"}>
        {examples.map((item) => (
          <li class={rootBemClass + "__examples-list-item"}>
            <span class={rootBemClass + "__examples-item"}>{item?.example}</span>
            {item?.exampleExplanation && (
              <div class={rootBemClass + "__examples-explanation"}>
                {"– " + item.exampleExplanation}
              </div>
            )}
            {item?.exampleAudio && (
              <AudioPlayerList audio={item?.exampleAudio} client:only="vue" isType="example" />
            )}
          </li>
        ))}
      </ol>
    )
  }
</div>
