@use './variables/fonts';

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: Berliner;
  src: url("~/assets/fonts/BerlinerRegular.woff2") format("woff2");
  font-display: swap;
}

@for $h from 1 to 6 {
  h#{$h} {
    font-family: fonts.$berliner;
  }
}
