---
import "@styles/components/_menu-nav.scss";

import ColorModeToggle from "@components/ColorModeToggle.vue";
import SearchModal from "@components/SearchModal.vue";
import SocialList from "@components/SocialList.vue";
import MainMenu from "@components/header/MainMenu.vue";
---

<header class="c-header">
  <div class="c-header__wrapper u-max-body-width">
    <div class="c-logo">
      <a href="/" class="c-logo__link"> Berliner Schnauze</a>
    </div>

    <nav class="c-menu-nav">
      <div class="c-menu-nav__main-elements">
        <SearchModal client:idle />

        <ColorModeToggle
          cssClasses={"c-menu-nav__item c-menu-nav__item-button"}
          client:only="vue"
        />

        <MainMenu client:only="vue" />
      </div>

      <SocialList
        modifier="c-social-list--desktop"
        list-link-modifier="c-menu-nav__item-link"
        list-modifier="u-list-vertical"
      />
    </nav>
  </div>
</header>
