---
import "@styles/components/_menu-nav.scss";

import ColorModeToggle from "@components/ColorModeToggle.vue";
import SearchModal from "@components/SearchModal.vue";
import MainMenu from "@components/header/MainMenu.vue";
import SearchBarModal from "@components/SearchBarModal.vue";
import SunMoonIcon from "virtual:icons/lucide/sun-moon";
import MainMenuButton from "@components/MainMenuButton.vue";
---

<header class="c-header">
  <div class="c-header__wrapper u-max-body-width">
    <div class="c-logo">
      <a href="/" class="c-logo__link"> Berliner Schnauze</a>
    </div>

    <nav class="c-menu-nav">
      <SearchModal client:only="vue">
        <SearchBarModal slot="fallback" />
      </SearchModal>

      <ColorModeToggle cssClasses={"c-menu-nav__item c-menu-nav__item-button"} client:only="vue">
        <button
          slot="fallback"
          type="button"
          class="c-color-mode-toggle c-button c-button--center-icon"
        >
          <SunMoonIcon />
        </button>
      </ColorModeToggle>

      <MainMenu client:only="vue">
        <MainMenuButton slot="fallback" />
      </MainMenu>
    </nav>
  </div>
</header>
