---
import "@styles/components/_menu-nav.scss";
import ColorModeToggle from "@components/ColorModeToggle.vue";
import MainMenu from "@components/header/MainMenu.vue";
import MainMenuButton from "@components/MainMenuButton.vue";
import SearchModalTrigger from "@components/modals/search/SearchModalTrigger.vue";
import SunMoonIcon from "virtual:icons/lucide/sun-moon";
import { fetchMenu } from "@services/queries/getMenu";

const isIndex = /^\/(index(\.html)?)?$/.test(Astro.url.pathname);
const mainMenuItems = await fetchMenu("Main Menu");
---

<header class="c-header">
  <div class="c-header__wrapper u-max-body-width">
    <div class="c-logo">
      <a class="c-logo__link" href="/"> Berliner Schnauze</a>
    </div>

    <nav class="c-menu-nav" aria-label="Hauptnavigation">
      {!isIndex && <SearchModalTrigger client:load />}

      <ColorModeToggle client:only="vue" cssClasses={"c-menu-nav__item c-menu-nav__item-button"}>
        <button
          class="c-color-mode-toggle c-button c-button--center-icon"
          slot="fallback"
          type="button"
          aria-label="Farbschema wechseln"
        >
          <SunMoonIcon aria-hidden="true" />
        </button>
      </ColorModeToggle>

      <MainMenu client:only="vue" menuItems={mainMenuItems}>
        <MainMenuButton slot="fallback" />
      </MainMenu>
    </nav>
  </div>
</header>
