---
import "@styles/components/_menu-nav.scss";

import ColorModeToggle from "@components/ColorModeToggle.vue";
import SearchModal from "@components/SearchModal.vue";
import MainMenu from "@components/header/MainMenu.vue";
---

<header class="c-header">
  <div class="c-header__wrapper u-max-body-width">
    <div class="c-logo">
      <a href="/" class="c-logo__link"> Berliner Schnauze</a>
    </div>

    <nav class="c-menu-nav">
      <SearchModal client:only="vue" />

      <ColorModeToggle cssClasses={"c-menu-nav__item c-menu-nav__item-button"} client:only="vue" />

      <MainMenu client:only="vue" />
    </nav>
  </div>
</header>
