---

---

<div
  class='c-fact-card c-fact-card--hightlighted'
  data-track-content
  data-content-name="Game CTA"
  data-content-piece="Berliner oder Nicht spielen"
  data-content-target="/games/berliner-oder-nicht"
>
  <h3 class='c-fact-card__headline'>Bist du'n echta Berliner?</h3>
  <p class='c-fact-card__text'>
    Erkennst du echtet Berlinerisch oder is et erfunden? Swipe, score und zeig, wat du druff hast!
  </p>
  <a class='c-fact-card__link' href='/games/berliner-oder-nicht'> Jetzt zocken </a>
</div>
