---
import "@styles/components/_word-search-link.scss";
---

<button class="c-word-search-link"
  >Berliner Mundart durchsuchen <span class:list={"c-word-search-link__icon-wrap"}>
    <svg class="c-word-search-link__icon" viewBox="0 0 24 24" width="30" height="30"><g fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"><path d="M4.037 4.688a.495.495 0 0 1 .651-.651l16 6.5a.5.5 0 0 1-.063.947l-6.124 1.58a2 2 0 0 0-1.438 1.435l-1.579 6.126a.5.5 0 0 1-.947.063z"/><path d="m10 15l5 5"/></g></svg>
  </span>
</button>

<script>
  const searchLink = document.querySelector(".c-word-search-link");

  searchLink?.addEventListener("click", (event) => {
    event.preventDefault();

    const searchBar = document.querySelector(".c-word-search__search-input") as HTMLInputElement;

    searchBar.scrollIntoView({ behavior: "smooth", block: "start" });

    searchBar.focus({ preventScroll: true });
  });

  document.addEventListener("DOMContentLoaded", () => {
    const isReduced = window.matchMedia(`(prefers-reduced-motion: reduce)`);

    if (isReduced.matches) return;

    const searchLink = document.querySelector(".c-word-search-link__icon-wrap");

    searchLink?.classList.add("u-ripple");
    setTimeout(() => searchLink?.classList.remove("u-ripple"), 2000);
  });
</script>
