@use 'sass:map';
@use './../variables/variables' as vars;
@use './../mixins/mixins' as mx;

// @use './../mixins/breakpoint' as break;

.c-footer {
	--space-walking: 40px;

	grid-area: footer;
	display: grid;
	grid-template-columns: var(--spacing-main-frame) 1fr 2fr var(--spacing-main-frame);
	grid-template-areas:
		' . farewell farewell . '
		' ground ground ground ground ';

	&__farewell {
		--gap: 5%;

		grid-area: farewell;
		display: flex;
		gap: var(--gap);

		&-image {
			--to-bottom: -1.25;

			max-width: 100%;
			height: auto;
			position: relative;
			bottom: calc(var(--to-bottom) * var(--space-walking));

			@include mx.breakpoint('md') {
				--to-bottom: -1.7;
			}

			&-wrapper {
				--basis-flex: 50%;

				flex: 0 0 var(--basis-flex);
				display: flex;

				@include mx.breakpoint('md') {
					--basis-flex: 40%;
				}
			}
		}

		&-text {
			--display: none;
			--size-font: 2rem;

			display: var(--display);
			font-family: vars.$berliner;
			align-self: center;
			font-size: var(--size-font);

			@include mx.breakpoint('xs') {
				--display: block;
			}
			@include mx.breakpoint('lg') {
				--size-font: 3rem;
			}
		}
	}

	&__ground {
		--color-background: #{rgba(vars.$red-200, 0.4)};
		--columns-template: var(--spacing-main-frame) 2fr 1fr 1fr var(--spacing-main-frame);
		--areas-template:
			' . slogan slogan slogan . '
			' nav nav nav nav nav ';

		background-color: var(--color-background);
		grid-area: ground;
		display: grid;
		grid-template-columns: var(--columns-template);
		grid-template-areas: var(--areas-template);
		padding-top: var(--space-walking);

		@include mx.breakpoint('md') {
			--areas-template: ' . . slogan nav . ';
			--columns-template: var(--spacing-main-frame) 2fr 1fr 1fr var(--spacing-main-frame);
		}
		@include mx.dark-mode {
			--color-background: #{rgba(vars.$blue-200, 0.4)};
		}
	}

	&__nav {
		--color-background: #{vars.$red-100};
		--padding: #{vars.$spacer * 0.5} 0;

		grid-area: nav;
		background-color: var(--color-background);
		display: flex;
		justify-content: center;
		gap: vars.$spacer;
		align-items: center;
		padding: var(--padding);

		@include mx.dark-mode {
			--color-background: var(--blue-100);
		}
		@include mx.dark-mode-override {
			@include mx.breakpoint('md') {
				--color-background: transparent;
			}
		}
		@include mx.dark-mode {
			@include mx.breakpoint('md') {
				--color-background: transparent;
			}
		}
	}

	&__slogan {
		--align-text: center;

		grid-area: slogan;
		text-align: var(--align-text);

		@include mx.breakpoint('md') {
			--align-text: left;
		}
	}
}
