@use 'sass:map';
@use './../variables/variables' as vars;
@use './../mixins/mixins' as mx;

.c-footer {
	--space-walking: 40px;

	grid-area: footer;
	display: grid;
	grid-template-columns: var(--spacing-main-frame) 1fr 2fr var(--spacing-main-frame);
	grid-template-areas:
		' . farewell farewell . '
		' ground ground ground ground '
		' end end end end';

	&__farewell {
		grid-area: farewell;
		display: flex;
		gap: var(--gap, 5%);

		&-image {
			max-width: 100%;
			height: auto;
			position: relative;
			bottom: calc(var(--to-bottom, -1.25) * var(--space-walking));

			@include mx.breakpoint('md') {
				--to-bottom: -1.7;
			}

			&-wrapper {
				flex: 0 0 var(--basis-flex, 50%);
				display: flex;

				@include mx.breakpoint('md') {
					--basis-flex: 40%;
				}
			}
		}

		&-text {
			display: var(--display, none);
			font-family: vars.$berliner;
			align-self: center;
			font-size: var(--size-font, 2rem);

			@include mx.breakpoint('xs') {
				--display: block;
			}
			@include mx.breakpoint('lg') {
				--size-font: 3rem;
			}
		}
	}

	&__ground {
		--areas-template:
			' . slogan slogan slogan . '
			' nav nav nav nav nav ';

		background-color: #{rgba(var(--primary), 0.4)};
		grid-area: ground;
		display: grid;
		grid-template-columns: var(--columns-template, var(--spacing-main-frame) 2fr 1fr 1fr var(--spacing-main-frame));
		grid-template-areas: var(--areas-template);
		padding-top: var(--space-walking);

		a,
		& {
			color: var(--color, var(--blue-200));

			@include mx.dark-mode {
				--color: var(--white-200);
			}
		}

		@include mx.breakpoint('md') {
			--areas-template: ' . . slogan nav . ';
			--columns-template: var(--spacing-main-frame) 2fr 1fr 1fr var(--spacing-main-frame);
		}
	}

	&__nav {
		grid-area: nav;
		background-color: var(--color-background, var(--secondary));
		display: flex;
		justify-content: center;
		gap: vars.$spacer;
		align-items: center;
		padding: var(--padding, #{vars.$spacer * 0.5} 0);

		@include mx.dark-mode-override {
			@include mx.breakpoint('md') {
				--color-background: transparent;
			}
		}
		@include mx.dark-mode {
			@include mx.breakpoint('md') {
				--color-background: transparent;
			}
		}
	}

	&__slogan {
		grid-area: slogan;
		text-align: var(--align-text, center);

		@include mx.breakpoint('md') {
			--align-text: left;
		}
	}

	&__end {
		--areas-template: ' . content . ';

		grid-area: end;
		display: grid;
		background-color: var(--primary);
		grid-template-columns: var(--columns-template, var(--spacing-main-frame) 1fr var(--spacing-main-frame));
		grid-template-areas: var(--areas-template);
		font-size: 0.8rem;

		a,
		& {
			color: var(--white-200);
		}

		&-content {
			grid-area: content;
			display: flex;
			gap: vars.$spacer;
			padding: vars.$spacer * 0.5 0;
			flex-wrap: wrap;
			justify-content: var(--content-justify, center);

			@include mx.breakpoint('md') {
				--content-justify: flex-start;
			}

			p {
				margin: 0;
			}
		}
	}
}
