@use '../variables/variables' as vars;

.c-header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    ' . logo menu-nav . '
  ;
  grid-template-columns: 100px 1fr 1fr 100px;
  align-items: center;
  background-color: vars.$grey-700;

  .c-logo {
    grid-area: logo;
  }
}
