@use '../variables/variables' as vars;
@use 'sassy-scss/mixins' as mx;

.c-header {
  --color-background: #{vars.$highlight-200};

  grid-area: header;
  display: grid;
  grid-template-areas:
    ' . logo menu-nav . '
  ;
  grid-template-columns: var(--spacing-main-frame) 1fr 2fr var(--spacing-main-frame);
  align-items: center;
  background-color: var(--color-background);
  box-shadow:
    0px 0.5px 0.6px rgba(0, 0, 0, 0.08),
    0px 4px 5px rgba(0, 0, 0, 0.16);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100%;
  padding: vars.$spacer * .6 0;

  &.has-searchbar {
    grid-template-areas:
      ' . logo logo . '
      ' . menu-nav menu-nav . '
    ;

    .c-logo {
      margin-bottom: vars.$spacer * .5;
    }
  }

  html[class="dark-mode"] & {
    --color-background: #{vars.$grey-700}
  }

  .c-logo {
    grid-area: logo;

    &__link {
      --color: #{vars.$white-100};
      --size-font: 1.8rem;

      font-family: vars.$berliner;
      text-decoration: none;
      color: var(--color);
      font-size: var(--size-font);

      @include mx.breakpoint('md') {
        --size-font: 2.5rem;
      }
    }
  }
}
