@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/mixins" as butler-mx;
@use "@sass-butler/functions" as butler-fn;

.c-header {
  background-color: var(--color-background, var(--orange-200));
  box-shadow:
    0 0.5px 0.6px rgb(0 0 0 / 8%),
    0 4px 5px rgb(0 0 0 / 16%);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 11000;
  width: 100%;
  padding: var(--padding-y-header) 0;

  @include butler-mx.dark-mode-class {
    --color-background: var(--blue);
  }

  &__wrapper {
    --areas-template: "logo menu-nav";

    display: grid;
    grid-template-areas: var(--areas-template);
    grid-template-columns: var(--columns-header-inner, 1fr 1fr);
    align-items: center;

    @include mx.breakpoint("md") {
      --columns-header-inner: 1fr 2fr;
    }
  }

  .c-logo {
    grid-area: logo;

    &__link {
      font-family: vars.$berliner;
      text-decoration: none;
      color: var(--color, var(--blue));
      font-size: butler-fn.fluid(32, 40, 320, 1260);

      @include butler-mx.dark-mode-class {
        --color: var(--yellow-500);
      }
    }
  }
}
