---
import "@styles/app.scss";
import type { SeoProps } from "@components/BaseHead.astro";

import BaseHead from "@components/BaseHead.astro";
import Footer from "@components/Footer.astro";
import MainHeader from "@components/header/MainHeader.astro";
import Modal from "@components/Modal.vue";
import ScrollToTop from "@components/ScrollToTop.vue";
import ToastNotifyContainer from "@components/toast/ToastNotifyContainer.vue";
import { Head } from "astro-capo";

export interface DefaultLayoutProps {
  bodyClasses?: Array<string> | string;
  content: {
    seo?: SeoProps;
    title: string;
  };
  contentClasses?: Array<string> | string;
}

const {
  bodyClasses,
  content: { seo, title },
  contentClasses,
} = Astro.props as DefaultLayoutProps;
---

<!doctype html>
<html lang="de">
  <Head>
    <BaseHead seo={seo} title={title} />

    <slot name="head" />
  </Head>
  <body class="o-body" class:list={bodyClasses}>
    <MainHeader transition:persist />
    <main class="o-content u-max-body-width" class:list={contentClasses}>
      <div id="docStart" style="position: absolute"></div>
      <slot />
    </main>
    <ScrollToTop client:load />
    <ToastNotifyContainer client:only="vue" />
    <Modal client:idle />
    <Footer transition:persist />
  </body>
</html>
