@use "@sass-butler/mixins" as butler-mx;

@mixin skeleton-loader {
  --color-skeleton: white;

  position: relative;
  overflow: hidden;
  background: color-mix(in srgb, var(--color-skeleton) 10%, transparent);

  @include butler-mx.dark-mode-class {
    --color-skeleton: black;
  }

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: linear-gradient(
      90deg,
      transparent 25%,
      color-mix(in srgb, var(--color-skeleton) 20%, transparent) 50%,
      transparent 75%
    );

    @include butler-mx.feature("motion") {
      animation: 1.5s shine linear infinite;
    }
  }
}
