---
import "@styles/components/_filter-search.scss";
import WordFilter from "@components/word-search/WordFilter.vue";
import WordSearchList from "@components/word-search/WordSearchList.vue";
---

<section class="c-filter-search" id="wordListing">
  <WordFilter client:only="vue" />

  <WordSearchList client:only="vue" cssClass={"c-filter-search__list"} />
</section>
