@use "sass:map";
@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;
@use "@sass-butler/mixins" as butler-mx;
@use "@sass-butler/functions" as butler-fn;

body {
  margin: 0;
  color: var(--color-body, var(--blue));
  background-color: var(
    --color-background-body,
    color-mix(in srgb, var(--orange-100) 5%, transparent)
  );
  // background-image: radial-gradient(
  //   var(--color-gradient-body-1, color-mix(in srgb, var(--blue) 30%, transparent)) 1.1px,
  //   var(--color-gradient-body-2, #{butler-fn.hex-to-rgb(#cad2d9, 50%)}) 1.1px
  // );
  background-image: radial-gradient(
    var(--color-gradient-body-1, color-mix(in srgb, var(--blue) 15%, transparent)) 1.1px,
    var(--color-gradient-body-2, color-mix(in srgb, var(--orange-100) 10%, white)) 1.1px
  );
  background-size: 22px 22px;

  @include butler-mx.feature("motion") {
    transition: background-color 0.7s ease-in-out;
  }
  @include butler-mx.dark-mode-class {
    --color-body: #{vars.$yellow-500};
    --color-gradient-body-1: color-mix(in srgb, var(--new-blue-400) 98%, white);
    --color-gradient-body-2: color-mix(in srgb, var(--blue) 70%, transparent);
    --color-background-body: var(--new-blue-300);
  }
}

@include butler-mx.select-style(vars.$red-200, vars.$white-100);

html[class="dark"] {
  @include butler-mx.select-style(map.get(vars.$blue-shades, "blue-200"), vars.$white-100);
}
