@use "@styles/variables/variables" as vars;
@use "@styles/mixins/mixins" as mx;

:root {
  @each $name, $color in vars.$all-colors {
    /* stylelint-disable-next-line custom-property-pattern */
    --#{$name}: #{$color};
  }

  --padding-y-header: #{vars.$spacer * 0.6};
  --spacing-main-frame: 20px;

  @include mx.breakpoint("md") {
    --spacing-main-frame: 100px;
  }
  @include mx.breakpoint("uhd") {
    --spacing-main-frame: 15%;
  }
}

html {
  --primary: var(--blue-100);
  --secondary: var(--red-500);
  --accent: var(--orange-400);

  &[class="dark"] {
    --primary: var(--blue-500);
    --secondary: var(--blue-400);
    --accent: var(--orange-500);
  }
}
