@use "sass:map";
@use "@styles/variables" as vars;

// TODO: Refactor this
html {
  --scrollbar-primary: var(--orange-400);
  --scrollbar-tertiary: var(--orange-200);
  --scrollbar-width: 8px;
  --scrollbar-button-bgc: var(--orange-400);

  &.dark {
    --scrollbar-primary: var(--blue-400);
    --scrollbar-tertiary: var(--blue-200);
    --scrollbar-button-bgc: var(--blue-400);
    --color-background-track: var(--blue-100);
  }

  /* ----------  Mozilla Firefox  ---------- */

  /**
	 * Firefox Supports only:
	 * the default width or thin,
	 * the background color and the thumb color
	 * */

  scrollbar-width: thin;
  scrollbar-color: var(--blue-800) var(--blue-100);

  /* ----------  Webkit-Browsers: Chrome, Opera, Safari  ---------- */

  /**
	 * Pseudo-Classes:
	 *
	 * :horizontal
	 * :vertical
	 * :decrement
	 * :increment
	 * :start
	 * :end
	 * :double-button
	 * :single-button
	 * :no-button
	 * :corner-present
	 * :window-inactive
	 * */
  // The whole scrollbar
  &::-webkit-scrollbar {
    width: var(--scrollbar-width);
  }

  /**
	 * Scrollbar Button
	 *
	 * The down and up buttons on top and bottom of the scrollbar
	 * */
  &::-webkit-scrollbar-button {
    background-color: var(--scrollbar-button-bgc);

    &:hover {
      --scrollbar-button-bgc: var(--scrollbar-primary);
    }

    // &:window-inactive {
    //   background-color: $scrollbar-button-element-inactive;
    // }
  }

  /**
	 * Scrollbar Track
	 *
	 * Section between the down and up buttons
	 * On the track moves to the thumb
	 * */
  &::-webkit-scrollbar-track {
    --scrollbar-track-border-width: var(--scrollbar-width);

    background-color: var(--color-background-track, var(--orange-100));
    border: var(--scrollbar-track-border-width) solid
      var(--scrollbar-track-bc, var(--scrollbar-tertiary));
  }

  /**
	 * Scrollbar Track Piece
	 *
	 * The free acrea between thumb and track
	 * */
  // &::-webkit-scrollbar-track-piece {
  // }

  /**
	 *  Scroolbar Thumb
	 *
	 * The thumb moves on the track and shows the actual position on the page
	 * */
  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bgc, var(--scrollbar-primary));

    // &:window-inactive {
    //   /* Select the thumb when the browser window isn't in focus */
    //   background-color: $scrollbar-thumb-element-inactive;
    // }
  }

  /**
	 * Scrollbar Corner
	 *
	 * Corner on the bottom
	 * */
  &::-webkit-scrollbar-corner {
    background: transparent;
  }

  /**
	 * Scrollbar Resizer
	 *
	 * The resizer is locaated in the corner
	 * */
  // &::-webkit-resizer {
  // }
}
