@use "@styles/variables" as vars;
@use "@styles/mixins" as mx;

@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: Berliner;
  src: url("/fonts/BerlinerRegular.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: Berlin;
  src: url("/fonts/Berlin.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-weight: 400;
  font-style: italic;
  font-family: Berlin;
  src: url("/fonts/Berlin-Italic.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-weight: 700;
  font-style: normal;
  font-family: Berlin;
  src: url("/fonts/Berlin-Bold.woff2") format("woff2");
  font-display: swap;
}
@font-face {
  font-weight: 900;
  font-style: normal;
  font-family: Berlin;
  src: url("/fonts/BerlinX-Bold.woff2") format("woff2");
  font-display: swap;
}

@for $h from 1 to 6 {
  h#{$h} {
    font-family: vars.$berliner;
    font-weight: normal;
  }
}

html,
button {
  font-family: vars.$berlin;
  font-weight: normal;
  letter-spacing: 1px;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: var(--decoration-text, none);
}

.c-content {
  a {
    --decoration-text: underline dashed from-font;

    text-underline-position: from-font;

    @include mx.breakpoint("xs") {
      --decoration-text: none;

      &:hover {
        --decoration-text: underline dashed from-font;
      }
    }
  }
}
